.featured {
  margin: 100px 200px;
  font-family: lato;

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: lato;

    h1 {
      flex: 2;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: gray;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}
