.contact {
  background-color: black;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;

  .wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      padding: 8px;
      border: none;
      border-radius: 5px 0 0 5px;
    }

    button {
      padding: 8px;
      color: white;
      background-color: #333;
      border-radius: 5px 0 0 5px;
      border: none;
    }
    .icons {
      display: flex;
      gap: 10px;
    }
  }
}
