.navbar {
  height: 60px;

  .wrapper {
    margin-top: 0;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: black;
    color: white;

    .left {
      display: flex;
      align-items: center;
      gap: 25px;

      .brand {
        color: #ff8c00;
        font-family: "Dancing Script", cursive;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
      }
      .item {
        display: flex;
        align-items: center;
        font-size: 18px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color: grey;
        cursor: pointer;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: blue;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
